
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
}

.markdown pre {
    border-radius: 4px;
    background-color: #ced4da;
    background-image: var(--bs-gradient);
    padding: 0.5em;
    width: 75%;
}
